* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #1e1e1e;
    transition: all ease 300ms;
}

.clock {
    width: 450px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('./clock.png');
    background-size: cover;
    border-radius: 50%;
    border: .5rem solid #fff;
    background-color: #1e1e1e;
    box-shadow: -10px 5px 0 rgba(0, 0, 0, 0.192), inset -10px 5px 0 rgba(0, 0, 0, 0.192);
}

.clock::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #fff;
    border-radius: 50%;
    z-index: 10000;
}

.clock .hour,
.clock .minutes,
.clock .seconds {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

}

.clock .hour,
#hr {
    width: 210px;
    height: 210px;
}

.clock .minutes,
#mn {
    width: 265px;
    height: 265px;
}

.clock .seconds,
#sc {
    width: 80px;
    height: 80px;
}

div#hr,
div#mn,
div#sc {
    position: absolute;
    display: flex;
    justify-content: center;
    border-radius: 50%;
}

#hr::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 110px;
    background-color: red;
    z-index: 10;
    border-radius: 10px 10px 0 0;
    box-shadow: 10px 0 0 rgba(0, 0, 0, 0.192);
}

#mn::before {
    content: '';
    position: absolute;
    width: 6px;
    height: 140px;
    background-color: green;
    z-index: 11;
    border-radius: 10px 10px 0 0;
    box-shadow: 10px 0 0 rgba(0, 0, 0, 0.192);
}

#sc::before {
    content: '';
    position: absolute;
    width: 4px;
    height: 200px;
    background-color: white;
    z-index: 12;
    border-radius: 10px 10px 0 0;
    box-shadow: 10px 0 0 rgba(0, 0, 0, 0.192);
}